.productList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px; 
    padding: 16px;
    background-color: white;
  }
  
  .productContainer {
    background-color: white; 
    border-radius: 8px;
    padding: 16px;
    margin: 16px 0;
    width: 200px;
    text-align: center;
    transition: transform 0.3s;
    cursor: pointer;
  }
  
  .productContainer:hover {
    transform: translateY(-10px); 
  }
  
